@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: TradeGothic;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/TradeGothicLTCom-BdCn20.eot?#iefix") format("embedded-opentype"), url("fonts/TradeGothicLTCom-BdCn20.woff2") format("woff2"), url("fonts/TradeGothicLTCom-BdCn20.woff") format("woff"), url("fonts/TradeGothicLTCom-BdCn20.ttf") format("truetype"), url("fonts/TradeGothicLTCom-BdCn20.svg#TradeGothic") format("svg"); }
img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #D6D6D6; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

::-moz-selection {
  color: white;
  background: #002A5C; }

::selection {
  color: white;
  background: #002A5C; }

.layout-container {
  max-width: 1450px;
  margin: 0 auto;
  box-shadow: 12px 0 15px -4px rgba(187, 187, 187, 0.25), -12px 0 8px -4px rgba(187, 187, 187, 0.25); }

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

body {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #002A5C; }

header a {
  text-transform: uppercase; }

.node--type-news-story .field--type-text-long {
  font-family: Times New Roman, Times, serif; }

.paragraph--type--alt-page-title, .paragraph--type--title {
  font-size: 2em;
  max-width: 700px;
  margin: 1rem auto;
  line-height: 1.4;
  text-align: justify;
  font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: left;
  line-height: 1.2;
  margin: 0 auto 1.5rem;
  padding: 0.4em 0.5em 0.25em;
  background: #008bb0;
  color: white;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 0; }
  @media all and (max-width: 730px) {
    .paragraph--type--alt-page-title, .paragraph--type--title {
      padding-right: 1rem;
      padding-left: 1rem; } }

.field--type-text-long p, .field--type-text-long ul, .field--type-text-long ol, .field--type-text-long h1, .field--type-text-long h2, .field--type-text-long h3, .field--type-text-long h4, .field--type-text-long h5, .field--type-text-long h6, .field--type-text-long pre {
  max-width: 700px;
  margin: 1rem auto;
  line-height: 1.4;
  text-align: justify; }
  @media all and (max-width: 730px) {
    .field--type-text-long p, .field--type-text-long ul, .field--type-text-long ol, .field--type-text-long h1, .field--type-text-long h2, .field--type-text-long h3, .field--type-text-long h4, .field--type-text-long h5, .field--type-text-long h6, .field--type-text-long pre {
      padding-right: 1rem;
      padding-left: 1rem; } }
.field--type-text-long .text-align-center {
  text-align: center; }
.field--type-text-long h1 {
  font-size: 2.25em; }
.field--type-text-long h2 {
  font-size: 2em; }
.field--type-text-long h3 {
  font-size: 1.75em; }
.field--type-text-long h4 {
  font-size: 1.5em; }
.field--type-text-long h5 {
  font-size: 1.25em; }
.field--type-text-long h6 {
  font-size: 1em; }
.field--type-text-long pre {
  font-family: Courier New, Courier New, monospace; }
.field--type-text-long strong {
  font-weight: bold; }
.field--type-text-long sup, .field--type-text-long sub {
  font-size: 85%; }
.field--type-text-long em {
  font-style: italic; }
.field--type-text-long ul, .field--type-text-long ol {
  padding-left: 2.35em; }
.field--type-text-long .serif {
  font-family: Times New Roman, Times, serif; }
.field--type-text-long .sans-serif {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
.field--type-text-long .three-col {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-count: 3;
  column-gap: 2em; }
.field--type-text-long .two-col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em; }
.field--type-text-long .pullquote.marks::before {
  content: "“"; }
.field--type-text-long .pullquote.marks::after {
  content: "”"; }
.field--type-text-long .pullquote {
  font-size: 275%;
  max-width: 420px;
  display: inline-block;
  font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: -0.1em 0.75em 0.1em -4em;
  float: left;
  text-align: right; }
  @media all and (max-width: 1170px) {
    .field--type-text-long .pullquote {
      margin-left: -0.25em;
      max-width: 350px; } }
  @media all and (max-width: 750px) {
    .field--type-text-long .pullquote {
      max-width: 100%;
      text-align: center;
      margin-bottom: 0.25em;
      margin-left: 0; } }
.field--type-text-long .inline-quote .pullquote {
  margin-left: 0;
  text-align: left;
  float: none;
  max-width: 100%; }
.field--type-text-long .small {
  font-size: 85%;
  letter-spacing: 0.25px; }
.field--type-text-long .three-col .pullquote, .field--type-text-long .two-col .pullquote {
  margin: 0.5em 0 0.51em; }
@media all and (max-width: 750px) {
  .field--type-text-long .three-col {
    column-count: 2;
    column-gap: 2em; } }
@media all and (max-width: 500px) {
  .field--type-text-long .three-col, .field--type-text-long .two-col {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1; } }
.field--type-text-long .large {
  font-size: 210%;
  line-height: 1;
  margin: -0.34em 0.1em -0.15em 0; }
.field--type-text-long .dropcap {
  font-size: 300%;
  float: left;
  line-height: 1;
  margin: -0.02em 0.15em -0.2em 0; }
.field--type-text-long .date {
  font-size: 85%;
  display: block;
  border-bottom: 1px solid;
  max-width: 26em;
  margin: -1.25em 0 1.75em; }

p a {
  color: #036d8b; }
  p a:hover {
    color: #002A5C; }

.bryant p, .bryant ul, .bryant ol, .bryant h1, .bryant h2, .bryant h3, .bryant h4, .bryant h5, .bryant h6, .bryant pre, .phelan p, .phelan ul, .phelan ol, .phelan h1, .phelan h2, .phelan h3, .phelan h4, .phelan h5, .phelan h6, .phelan pre, .burr-flipped p, .burr-flipped ul, .burr-flipped ol, .burr-flipped h1, .burr-flipped h2, .burr-flipped h3, .burr-flipped h4, .burr-flipped h5, .burr-flipped h6, .burr-flipped pre, .mccoppin p, .mccoppin ul, .mccoppin ol, .mccoppin h1, .mccoppin h2, .mccoppin h3, .mccoppin h4, .mccoppin h5, .mccoppin h6, .mccoppin pre, .burr p, .burr ul, .burr ol, .burr h1, .burr h2, .burr h3, .burr h4, .burr h5, .burr h6, .burr pre {
  max-width: none;
  padding: 0; }

@media all and (max-width: 1050px) {
  .field--name-field-page-title {
    margin: 1em 1rem 0.5em; } }
header {
  background: white;
  font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
  header::after {
    clear: both;
    content: "";
    display: table; }

.site-name {
  display: none; }

.menu-item {
  padding: 0; }

ul.menu {
  margin: 0; }

#block-uoftmenu {
  font-weight: normal;
  background: #525252;
  overflow: hidden;
  font-family: Open Sans, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 80%;
  color: white;
  padding: 0 2.25em 1em; }
  #block-uoftmenu li {
    float: left;
    padding: 1em 0 0;
    display: inline-block; }
  #block-uoftmenu a {
    text-transform: none;
    color: white; }
  #block-uoftmenu a:hover {
    text-decoration: underline; }
  #block-uoftmenu li::after {
    content: "/";
    padding: 0 1em; }

#block-default-branding {
  float: left;
  width: 36%;
  background-color: #002A5C;
  height: 115px;
  position: relative;
  min-width: 300px;
  z-index: 1; }
  #block-default-branding img {
    margin: 25px 35px;
    min-width: 100px;
    position: absolute;
    z-index: 6; }
  #block-default-branding::after {
    content: "";
    height: 115px;
    width: 102px;
    background-color: #002A5C;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    transform: skewX(40deg);
    transform-origin: top;
    -webkit-transform: skewX(40deg);
    -webkit-transform-origin: 0 0; }

#block-secondarymenu {
  overflow: hidden;
  float: right;
  width: 63%; }
  #block-secondarymenu ul {
    margin-left: 24px; }
  #block-secondarymenu li {
    background: #002A5C;
    float: left;
    margin: 9px 8px 0 8px;
    width: 202px;
    max-height: 61px;
    transform: skew(40deg); }
  #block-secondarymenu li:last-child {
    margin-right: 0 !important; }
  #block-secondarymenu a {
    display: inline-block;
    transform: skewX(-40deg);
    padding: 38px 34px 8px 32px;
    color: white;
    font-size: 96%; }
  #block-secondarymenu a.is-active {
    color: white; }
  #block-secondarymenu li:first-child {
    background: #d2a446; }
  #block-secondarymenu li:nth-child(2) {
    background: #7fb080; }
  #block-secondarymenu li:nth-child(3) {
    background: #008bb0; }
  #block-secondarymenu li:nth-child(4) {
    background: #036d8b; }
  #block-secondarymenu li:hover {
    background: #C2CAD7; }
    #block-secondarymenu li:hover a {
      color: #002A5C; }

#block-default-main-menu,
#block-mainnavigation {
  float: right;
  overflow: hidden;
  margin-top: 11px; }
  #block-default-main-menu ul,
  #block-mainnavigation ul {
    overflow: hidden; }
  #block-default-main-menu li,
  #block-mainnavigation li {
    float: left;
    overflow: hidden; }
  #block-default-main-menu a,
  #block-mainnavigation a {
    display: inline-block;
    color: #002A5C;
    padding: 12px 22px 2px;
    margin: 0 6px;
    font-size: 130%; }
  #block-default-main-menu a.is-active,
  #block-mainnavigation a.is-active {
    color: white;
    background: #002A5C; }
  #block-default-main-menu a:hover,
  #block-mainnavigation a:hover {
    color: #002A5C;
    background: #C2CAD7; }
  #block-default-main-menu li:last-of-type a,
  #block-mainnavigation li:last-of-type a {
    margin-right: 0; }

@media all and (max-width: 1460px) {
  header {
    background: #002A5C; }

  #block-default-branding {
    width: 30%;
    height: 100px; }
    #block-default-branding:after {
      content: none; }

  #block-secondarymenu {
    width: 70%;
    margin-top: 30px; }
    #block-secondarymenu li {
      width: 160px;
      margin: 1%;
      padding: 0;
      transform: none;
      text-align: center; }
    #block-secondarymenu a {
      transform: none;
      padding: 1em 0 0.8em;
      font-size: 90%; }

  #block-default-main-menu, #block-mainnavigation {
    width: 100%;
    background: white;
    clear: both; }
    #block-default-main-menu a, #block-mainnavigation a {
      padding: 0.75em 2em 0.5em;
      margin: 0; } }
@media all and (max-width: 1040px) {
  #block-default-branding img {
    display: block;
    position: static; }

  #block-secondarymenu {
    max-width: 470px; }
    #block-secondarymenu li {
      width: 96px;
      height: 40px;
      vertical-align: middle;
      display: table; }
    #block-secondarymenu a {
      padding: 0.55em 0.25em 0.4em;
      display: table-cell;
      vertical-align: middle; }

  #block-default-main-menu a, #block-mainnavigation a {
    padding: 0.6em 1em 0.45em;
    height: 1.85em; } }
@media all and (max-width: 780px) {
  #block-default-branding {
    width: 100%; }
    #block-default-branding img {
      margin: 1.5em auto; }

  #block-secondarymenu {
    width: 100%;
    margin: 1.5em auto 0;
    float: none; }

  #block-uoftmenu li::after {
    padding: 0 0.5em; }

  #block-uoftmenu li:last-of-type a {
    padding-right: 3em; } }
@media all and (max-width: 495px) {
  #block-uoftmenu {
    padding: 0.5em 0.75em 0; }
    #block-uoftmenu li {
      padding: 0 0 0.5em; }

  #block-default-main-menu, #block-mainnavigation {
    margin-top: 0.5%; }
    #block-default-main-menu a, #block-mainnavigation a {
      padding: 0.6em 0.5em 0.45em; }

  #block-secondarymenu ul {
    margin: 0; }
  #block-secondarymenu li {
    width: 49%;
    margin: 2px; } }
main {
  box-shadow: 0px -2px 18px 0px #bbb;
  background-color: white;
  background-image: url(images/texture.png); }
  main a:hover, main a:active, main a:focus {
    text-decoration: underline; }

.breadcrumb {
  padding: 0; }

.breadcrumb li::before {
  content: none; }

#block-default-breadcrumbs {
  background: #C2CAD7;
  font-size: 95%;
  font-family: Times New Roman, Times, serif;
  padding: 0.75em 1.3em; }
  #block-default-breadcrumbs a {
    color: #002A5C;
    text-transform: uppercase; }
  #block-default-breadcrumbs ol {
    overflow: hidden;
    list-style-type: circle; }
  #block-default-breadcrumbs li {
    display: inline-block;
    float: left; }
    #block-default-breadcrumbs li::after {
      content: "·";
      font-weight: bold;
      margin: 0 0.5em; }
  #block-default-breadcrumbs li:last-child::after {
    content: none; }

.field--name-field-full-width-image img,
.field--name-field-news-image img {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  vertical-align: bottom; }

img.align-right {
  margin: 0.75em -6.6em 0.55em 1em; }
img.align-left {
  margin: 0.75em 1em 0.55em -6.6em; }
@media all and (max-width: 990px) {
  img.align-right {
    margin-right: 0; }
  img.align-left {
    margin-left: 0; } }
@media all and (max-width: 350px) {
  img.align-right, img.align-left {
    margin: 0;
    float: none; } }

.caption-img {
  float: none !important;
  margin: 0 auto; }
  .caption-img figcaption {
    font-size: 90%;
    margin: 0.15em 0; }

img.align-center {
  padding: 0 1em; }

.left-inline-img img {
  margin-left: 0; }

.right-inline-img img {
  margin-right: 0; }

.circle-img img {
  border-radius: 50%; }

.field--type-text-long th {
  color: white;
  width: 100%;
  text-transform: uppercase;
  background: #002A5C;
  margin-top: 0.5em;
  padding: 0.75em 0.5em 0.5em 0.9em; }
.field--type-text-long td {
  font-family: Times New Roman, Times, serif;
  padding: 1em 0.5em 1em 1em;
  font-size: 90%; }
.field--type-text-long tr {
  background: #fbfbfb; }
.field--type-text-long tr:nth-of-type(2n) {
  background: #e1e5eb; }
.field--type-text-long tr:hover {
  background: #bfd8c0; }

.view-temp-front-page {
  font-size: 110%;
  max-width: 42em;
  margin: 0 auto;
  padding: 1em; }
  .view-temp-front-page caption {
    padding: 1em; }
  .view-temp-front-page a {
    color: #002A5C; }
  .view-temp-front-page .views-field-title a {
    font-family: Times New Roman, Times, serif; }
  .view-temp-front-page thead {
    background: #e9e9e9; }
  .view-temp-front-page tr, .view-temp-front-page td, .view-temp-front-page th {
    padding: 0.5em;
    border: 1px solid; }
  .view-temp-front-page tr:nth-of-type(2n) {
    background: #e9e9e9; }
  .view-temp-front-page tr:hover, .view-temp-front-page tr:focus {
    background: #d6e6e5; }

#block-footer {
  background-image: url(images/footer.jpg);
  background-size: cover;
  padding: 3em;
  color: white;
  font-family: Times New Roman, Times, serif;
  text-align: center;
  line-height: 1.5; }
  #block-footer p:first-of-type {
    font-size: 166%; }
  #block-footer hr {
    max-width: 66%; }
  @media all and (max-width: 550px) {
    #block-footer {
      padding: 3em 0; } }

.twitter {
  background: url(images/twitter_icon.png);
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  margin: 0.5em;
  display: inline-block;
  background-size: cover; }

.vimeo {
  background: url(images/vimeo_icon.png);
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  margin: 0.5em;
  display: inline-block;
  background-size: cover; }

.youtube {
  background: url(images/youtube_icon.png);
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  margin: 0.5em;
  display: inline-block;
  background-size: cover; }

.facebook {
  background: url(images/facebook_icon.png);
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  margin: 0.5em;
  display: inline-block;
  background-size: cover; }

.linkedin {
  background: url(images/linkedIn_icon.png);
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  margin: 0.5em;
  display: inline-block;
  background-size: cover; }

#user-login-form {
  font-family: Times New Roman, Times, serif;
  padding: 2em; }
  #user-login-form .form-item {
    margin-bottom: 2em; }
  #user-login-form .description {
    font-style: italic;
    font-size: 90%;
    margin: 0.25em 0; }
  #user-login-form label {
    text-transform: uppercase;
    font-size: 90%; }
    #user-login-form label::after {
      content: ": ";
      font-size: 115%; }

#block-default-local-tasks {
  background: #ccc;
  font-family: Times New Roman, Times, serif; }
  #block-default-local-tasks ul {
    overflow: hidden;
    padding: 0.25em;
    text-align: center;
    margin: 0 auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35); }
  #block-default-local-tasks li {
    display: inline-block;
    float: none;
    padding: 0em 1em; }
  #block-default-local-tasks a {
    color: #222;
    display: block;
    font-weight: bold;
    font-size: 110%;
    font-style: italic; }

.profile {
  padding: 2em; }

body.path-search .block-system-main-block {
  padding: 2em; }
body.path-search .search-help-link {
  color: #002A5C;
  font-size: 90%;
  text-transform: lowercase; }
body.path-search h2 {
  font-size: 115%;
  margin: 2.5em 0 1em;
  font-family: Times New Roman, Times, serif; }
body.path-search h2::after {
  content: ":"; }

#edit-submit {
  margin: 0; }

#edit-advanced {
  margin: 1em; }
  #edit-advanced a {
    color: #002A5C; }
  #edit-advanced .details-wrapper {
    padding: 0.25em 1.25em;
    background: #eee; }
  #edit-advanced .fieldset-legend {
    font-family: Times New Roman, Times, serif;
    font-weight: normal; }
    #edit-advanced .fieldset-legend::after {
      content: ":"; }
  #edit-advanced .fieldset-wrapper {
    margin-left: 1em; }

#edit-basic {
  font-family: Times New Roman, Times, serif; }

.search-results li {
  padding: 0.5em 0;
  padding-left: 0.5em;
  margin: 1.25em; }

.search-result__title {
  font-size: 125%;
  margin-bottom: 0.55rem; }
  .search-result__title a {
    color: #002A5C;
    border-bottom: 2px solid #C2CAD7; }
  .search-result__title a:hover {
    text-decoration: none;
    border-color: #002A5C; }

.search-result__snippet-info {
  font-family: Times New Roman, Times, serif;
  color: #003676; }

.pager__items a {
  color: #002A5C; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1) */
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.slideshow {
  position: relative; }

.slideshow-text {
  position: absolute;
  top: 10%;
  left: 15%; }

.field--name-node-title {
  overflow: hidden; }
  .field--name-node-title a {
    background: white;
    color: #002A5C;
    padding: 0.55em 0.66em 0.45em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 175%; }

.field--name-field-teaser-line {
  color: white;
  background: #002A5C;
  padding: 0.5em 0.66em;
  font-size: 166%; }

body.page-node-type-landing-page .field--type-text-long {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.four-buttons .horizontal-tabs, .three-buttons .horizontal-tabs, .two-buttons .horizontal-tabs {
  border: none;
  margin: 0; }
.four-buttons .horizontal-tab-button, .three-buttons .horizontal-tab-button, .two-buttons .horizontal-tab-button {
  background: none;
  border: none;
  position: relative;
  padding: 0; }
  .four-buttons .horizontal-tab-button a, .three-buttons .horizontal-tab-button a, .two-buttons .horizontal-tab-button a {
    width: 250px;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    word-spacing: 250px;
    height: 275px;
    margin: 0px 0px 24px 22px;
    background: #002A5C;
    background-image: url(images/square_button.jpg);
    opacity: 0.66;
    background-size: cover;
    background-position: center;
    color: white;
    line-height: 1.3;
    font-size: 200%;
    padding: 0.25em !important;
    text-transform: uppercase; }
  .four-buttons .horizontal-tab-button strong, .three-buttons .horizontal-tab-button strong, .two-buttons .horizontal-tab-button strong {
    display: block;
    position: absolute;
    bottom: 0; }
  .four-buttons .horizontal-tab-button strong::after, .three-buttons .horizontal-tab-button strong::after, .two-buttons .horizontal-tab-button strong::after {
    content: ">";
    display: inline-block;
    margin-left: 0.15em; }
  .four-buttons .horizontal-tab-button a:hover, .four-buttons .horizontal-tab-button .selected a, .three-buttons .horizontal-tab-button a:hover, .three-buttons .horizontal-tab-button .selected a, .two-buttons .horizontal-tab-button a:hover, .two-buttons .horizontal-tab-button .selected a {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    box-shadow: -5px 8px 10px -4px rgba(0, 0, 0, 0.66); }
.four-buttons .horizontal-tab-button.selected, .three-buttons .horizontal-tab-button.selected, .two-buttons .horizontal-tab-button.selected {
  padding: 0; }
  .four-buttons .horizontal-tab-button.selected strong::after, .three-buttons .horizontal-tab-button.selected strong::after, .two-buttons .horizontal-tab-button.selected strong::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 0.2em; }
  .four-buttons .horizontal-tab-button.selected > a, .three-buttons .horizontal-tab-button.selected > a, .two-buttons .horizontal-tab-button.selected > a {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    box-shadow: -5px 8px 20px -4px rgba(0, 0, 0, 0.66); }
.four-buttons .horizontal-tabs-list, .three-buttons .horizontal-tabs-list, .two-buttons .horizontal-tabs-list {
  margin: 0 auto;
  background: none;
  border: none;
  overflow: hidden;
  display: block; }

.four-buttons .horizontal-tabs-list {
  max-width: 1112px; }
  @media all and (max-width: 1110px) {
    .four-buttons .horizontal-tabs-list {
      max-width: 566px; } }
  @media all and (max-width: 560px) {
    .four-buttons .horizontal-tabs-list {
      max-width: 280px; } }

.three-buttons .horizontal-tabs-list {
  max-width: 840px; }
  @media all and (max-width: 900px) {
    .three-buttons .horizontal-tabs-list {
      max-width: 540px; }
      .three-buttons .horizontal-tabs-list a {
        width: 150px;
        height: 175px; } }
  @media all and (max-width: 566px) {
    .three-buttons .horizontal-tabs-list {
      max-width: 194px; } }

.two-buttons .horizontal-tabs-list {
  max-width: 814px; }
  .two-buttons .horizontal-tabs-list a {
    width: 372px;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    word-spacing: 372px;
    height: 434px;
    background-image: url(images/big_button.jpg);
    font-size: 350%; }

.three-image-buttons, .two-image-buttons, .four-image-buttons {
  margin: 0 auto;
  max-width: 820px; }
  .three-image-buttons > a, .two-image-buttons > a, .four-image-buttons > a {
    display: block;
    float: left;
    background: #002A5C;
    margin: 0px 11px 24px;
    opacity: 0.66;
    width: 250px;
    word-spacing: 250px;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    height: 275px;
    color: white;
    background-size: cover;
    background-position: center;
    line-height: 1.2;
    font-size: 240%;
    text-transform: uppercase;
    background-image: url(images/square_button.jpg);
    position: relative; }
    .three-image-buttons > a strong, .two-image-buttons > a strong, .four-image-buttons > a strong {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0.15em; }
    .three-image-buttons > a > strong::after, .two-image-buttons > a > strong::after, .four-image-buttons > a > strong::after {
      content: none; }
  .three-image-buttons > a:hover, .two-image-buttons > a:hover, .four-image-buttons > a:hover {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    box-shadow: -5px 8px 20px -4px rgba(0, 0, 0, 0.66); }

@media all and (max-width: 900px) {
  .three-image-buttons {
    max-width: 270px; } }

.two-image-buttons {
  max-width: 770px; }
  .two-image-buttons > a {
    background-image: url(images/big_button.jpg);
    width: 360px;
    word-spacing: 360px;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    height: 396px;
    font-size: 420%; }
  .two-image-buttons > strong {
    left: 0.15em; }
  @media all and (max-width: 830px) {
    .two-image-buttons {
      max-width: 390px; }
      .two-image-buttons a {
        opacity: 1;
        height: 300px; } }
  @media all and (max-width: 450px) {
    .two-image-buttons a {
      width: 75%;
      margin: 0 1em 0.25em;
      font-size: 300%; } }

.six-solid-buttons, .three-solid-buttons, .four-solid-buttons {
  margin: 1em auto 0;
  max-width: 825px; }
  @media all and (max-width: 880px) {
    .six-solid-buttons, .three-solid-buttons, .four-solid-buttons {
      max-width: 544px; } }
  @media all and (max-width: 600px) {
    .six-solid-buttons, .three-solid-buttons, .four-solid-buttons {
      max-width: 274px; } }
  .six-solid-buttons a, .three-solid-buttons a, .four-solid-buttons a {
    float: left;
    background: #002A5C;
    margin: 0px 11px 24px;
    width: 250px;
    height: 275px;
    padding: 0.25em 0.3em;
    color: white;
    line-height: 1.2;
    font-size: 200%;
    text-transform: uppercase;
    position: relative; }
  .six-solid-buttons li strong, .three-solid-buttons li strong, .four-solid-buttons li strong {
    max-width: 6em;
    display: block; }
  .six-solid-buttons a:hover, .three-solid-buttons a:hover, .four-solid-buttons a:hover {
    background: #008bb0;
    text-decoration: none; }
  .six-solid-buttons a:hover::before, .three-solid-buttons a:hover::before, .four-solid-buttons a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 66px 66px 0;
    border-style: solid;
    border-color: #f8f8f8 #f8f8f8 #036d8b #036d8b;
    background: #036d8b;
    width: 0;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2), -2px 2px 1px rgba(0, 0, 0, 0.2); }
  .six-solid-buttons a::after, .three-solid-buttons a::after, .four-solid-buttons a::after {
    position: absolute;
    bottom: 0;
    right: 0.25em; }

@media all and (max-width: 880px) {
  .three-solid-buttons {
    max-width: 274px; } }

.four-solid-buttons {
  max-width: 832px; }
  .four-solid-buttons a {
    width: 198px;
    height: 198px;
    margin: 0px 4px 8px;
    font-size: 195%; }
  @media all and (max-width: 866px) {
    .four-solid-buttons {
      max-width: 426px; } }
  @media all and (max-width: 450px) {
    .four-solid-buttons {
      max-width: 200px; } }

.bp-undergraduate-students .box:nth-child(1n) a::after {
  content: url(images/calendar.png); }
.bp-undergraduate-students .box:nth-child(2n) a::after {
  content: url(images/pencil.png); }
.bp-undergraduate-students .box:nth-child(3n) a::after {
  content: url(images/podium.png); }
.bp-undergraduate-students .box:nth-child(4n) a::after {
  content: url(images/trophy.png); }
.bp-undergraduate-students .box:nth-child(5n) a::after {
  content: url(images/pig.png); }
.bp-undergraduate-students .box:nth-child(6n) a::after {
  content: url(images/clipboard.png); }

.bp-ss .box:nth-child(1n) a::after {
  content: url(images/head.png); }
.bp-ss .box:nth-child(2n) a::after {
  content: url(images/pen.png); }
.bp-ss .box:nth-child(3n) a::after {
  content: url(images/petition.png); }

.bp-current-students a:nth-child(3n) {
  word-spacing: normal; }

.three-circle-buttons .horizontal-tab-button a, .four-circle-buttons .horizontal-tab-button a, .five-circle-buttons .horizontal-tab-button a {
  width: 182px;
  height: 182px;
  border-radius: 91px;
  position: relative;
  text-align: center;
  word-spacing: normal;
  font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 100%;
  text-transform: none;
  color: white;
  margin: 0px 13px 13px;
  padding: 0 !important;
  background-image: url(images/round_button1_square.jpg); }
  .three-circle-buttons .horizontal-tab-button a strong, .four-circle-buttons .horizontal-tab-button a strong, .five-circle-buttons .horizontal-tab-button a strong {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.3em;
    transform: translate(-50%, -50%);
    display: block;
    border: 1px solid; }
    .three-circle-buttons .horizontal-tab-button a strong::after, .four-circle-buttons .horizontal-tab-button a strong::after, .five-circle-buttons .horizontal-tab-button a strong::after {
      content: none; }

.three-circle-buttons .horizontal-tabs-list {
  max-width: 654px; }
  @media all and (max-width: 700px) {
    .three-circle-buttons .horizontal-tabs-list {
      max-width: 230px; } }

@media all and (max-width: 960px) {
  .four-circle-buttons .horizontal-tabs-list {
    max-width: 430px; } }
@media all and (max-width: 480px) {
  .four-circle-buttons .horizontal-tabs-list {
    max-width: 215px; } }

.five-circle-buttons {
  max-width: 1040px;
  margin: 0 auto; }
  @media all and (max-width: 1110px) {
    .five-circle-buttons .horizontal-tabs-list {
      max-width: 624px; } }
  @media all and (max-width: 730px) {
    .five-circle-buttons .horizontal-tabs-list {
      max-width: 418px; } }
  @media all and (max-width: 500px) {
    .five-circle-buttons .horizontal-tabs-list {
      max-width: 207px; } }

.paragraph--type--custom-css-button .three-circle-buttons {
  margin: 0 auto;
  max-width: 634px; }
  @media all and (max-width: 700px) {
    .paragraph--type--custom-css-button .three-circle-buttons {
      max-width: 230px; } }
  .paragraph--type--custom-css-button .three-circle-buttons a {
    width: 182px;
    height: 182px;
    border-radius: 91px;
    position: relative;
    text-align: center;
    word-spacing: normal;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 100%;
    text-transform: none;
    color: white;
    margin: 0px 13px 13px;
    padding: 0 !important;
    display: inline-block;
    background-image: url(images/round_button1_square.jpg); }
  .paragraph--type--custom-css-button .three-circle-buttons a:hover {
    box-shadow: -5px 8px 20px -4px rgba(0, 0, 0, 0.66); }
  .paragraph--type--custom-css-button .three-circle-buttons strong {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: normal !important;
    padding: 0.3em;
    transform: translate(-50%, -50%);
    display: block;
    border: 1px solid; }
    .paragraph--type--custom-css-button .three-circle-buttons strong::after {
      content: none; }

.horizontal-tabs-pane {
  padding: 0; }

details > .details-wrapper {
  padding: 0; }

.eight-vertical-tabs, .paragraph--type--ssbp-4-vertical-tabs-graduate, .paragraph--type--ssbp-5-vertical-tabs-courses, .vertical-tabs {
  max-width: 700px;
  margin: 0 auto 2em; }
  .eight-vertical-tabs .horizontal-tabs, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tabs, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tabs, .vertical-tabs .horizontal-tabs {
    background: none;
    border: none; }
  .eight-vertical-tabs .horizontal-tabs-list, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tabs-list, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tabs-list, .vertical-tabs .horizontal-tabs-list {
    background: none;
    border: none;
    width: 200px;
    float: left;
    padding-top: 0.3em; }
  .eight-vertical-tabs .horizontal-tab-button, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button, .vertical-tabs .horizontal-tab-button {
    margin-top: 1.7em;
    border: 0;
    background: none;
    border-bottom: 1px solid #C2CAD7;
    text-transform: uppercase;
    margin: 1.4em 0em 0;
    width: 11em; }
    .eight-vertical-tabs .horizontal-tab-button a, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button a, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button a, .vertical-tabs .horizontal-tab-button a {
      color: #C2CAD7;
      padding: 0 !important; }
    .eight-vertical-tabs .horizontal-tab-button a:hover, .eight-vertical-tabs .horizontal-tab-button a:active, .eight-vertical-tabs .horizontal-tab-button a:focus, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button a:hover, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button a:active, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button a:focus, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button a:hover, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button a:active, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button a:focus, .vertical-tabs .horizontal-tab-button a:hover, .vertical-tabs .horizontal-tab-button a:active, .vertical-tabs .horizontal-tab-button a:focus {
      outline: 0 !important;
      text-decoration: none !important;
      border: 0;
      background: none;
      color: #002A5C; }
    .eight-vertical-tabs .horizontal-tab-button.selected, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button.selected, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button.selected, .vertical-tabs .horizontal-tab-button.selected {
      border-color: #002A5C; }
      .eight-vertical-tabs .horizontal-tab-button.selected a, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button.selected a, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button.selected a, .vertical-tabs .horizontal-tab-button.selected a {
        color: #002A5C;
        display: inline-block !important; }
      .eight-vertical-tabs .horizontal-tab-button.selected::after, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button.selected::after, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button.selected::after, .vertical-tabs .horizontal-tab-button.selected::after {
        content: url(images/triangle.png);
        display: inline-block;
        float: right;
        margin-right: -12px; }
  .eight-vertical-tabs .horizontal-tabs-panes, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tabs-panes, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tabs-panes, .vertical-tabs .horizontal-tabs-panes {
    width: 500px;
    float: right;
    margin-top: 0.5em; }
  .eight-vertical-tabs .group-label, .eight-vertical-tabs .field__label, .paragraph--type--ssbp-4-vertical-tabs-graduate .group-label, .paragraph--type--ssbp-4-vertical-tabs-graduate .field__label, .paragraph--type--ssbp-5-vertical-tabs-courses .group-label, .paragraph--type--ssbp-5-vertical-tabs-courses .field__label, .vertical-tabs .group-label, .vertical-tabs .field__label {
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid;
    font-size: 110%;
    font-weight: normal; }
  @media all and (max-width: 750px) {
    .eight-vertical-tabs .horizontal-tabs-list, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tabs-list, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tabs-list, .vertical-tabs .horizontal-tabs-list {
      width: 100%;
      float: none; }
    .eight-vertical-tabs .horizontal-tabs-panes, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tabs-panes, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tabs-panes, .vertical-tabs .horizontal-tabs-panes {
      width: 100%;
      float: none;
      margin: 0 0.9em; }
    .eight-vertical-tabs .horizontal-tab-button, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button, .vertical-tabs .horizontal-tab-button {
      margin: 0.5em 1.25em; }
      .eight-vertical-tabs .horizontal-tab-button.selected::after, .paragraph--type--ssbp-4-vertical-tabs-graduate .horizontal-tab-button.selected::after, .paragraph--type--ssbp-5-vertical-tabs-courses .horizontal-tab-button.selected::after, .vertical-tabs .horizontal-tab-button.selected::after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); } }

.bottom-link {
  text-align: center;
  margin: 1em auto 2em; }
  .bottom-link a {
    color: #002A5C;
    display: inline;
    border: 2px solid;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    padding: 0.1em 2em;
    font-size: 120%; }
  .bottom-link a:hover {
    background: #002A5C;
    color: white;
    text-decoration: none; }

.bottom-four-links, .bottom-three-links {
  list-style-type: none;
  max-width: none !important;
  padding: 0 !important; }
  .bottom-four-links li, .bottom-three-links li {
    display: block;
    float: left;
    width: 25%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    height: 5em;
    background: #008bb0;
    position: relative; }
  .bottom-four-links li:last-of-type, .bottom-three-links li:last-of-type {
    border-right: 0; }
  .bottom-four-links li:hover::before, .bottom-three-links li:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 36px 36px 0;
    border-style: solid;
    border-color: #f8f8f8 #f8f8f8 #036d8b #036d8b;
    background: #036d8b;
    width: 0;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2), -2px 2px 1px rgba(0, 0, 0, 0.2); }
  .bottom-four-links a, .bottom-three-links a {
    color: white;
    font-size: 150%;
    text-transform: uppercase;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    position: absolute;
    bottom: 0;
    left: 0.5em;
    line-height: 1.1;
    text-align: left; }
  .bottom-four-links a:hover, .bottom-three-links a:hover {
    text-decoration: none; }

@media all and (max-width: 550px) {
  .bottom-four-links li {
    width: 50%; }
  .bottom-four-links li:nth-of-type(2) {
    border-right: 0; } }

.bottom-three-links li {
  width: 33.33333%; }

a[href="#edit-group-degree-programs"], a[href="#edit-group-graduate-specialties"] {
  color: #002A5C;
  word-spacing: normal;
  font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  width: auto;
  height: auto;
  background: none !important;
  background-image: none !important;
  color: #002A5C;
  text-transform: capitalize;
  margin: 0 0 0.25em;
  padding: 0 0.25em !important;
  opacity: 1; }
  a[href="#edit-group-degree-programs"]:hover, li.selected a[href="#edit-group-degree-programs"], a[href="#edit-group-graduate-specialties"]:hover, li.selected a[href="#edit-group-graduate-specialties"] {
    text-decoration: underline !important;
    color: #036d8b;
    transition: initial;
    box-shadow: none;
    background-color: transparent !important; }
  a[href="#edit-group-degree-programs"] strong, a[href="#edit-group-graduate-specialties"] strong {
    position: static; }
    a[href="#edit-group-degree-programs"] strong::after, a[href="#edit-group-graduate-specialties"] strong::after {
      content: none; }

a[href="#edit-group-graduate-programs"] {
  border-left: 3px solid #002A5C; }

.two-underlined-buttons .horizontal-tabs-list {
  width: 31em; }

.three-circle-buttons .horizontal-tabs-list {
  width: auto; }

.ui-widget-content {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #002A5C !important; }
  .ui-widget-content a {
    color: #036d8b; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #036d8b; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #002A5C; }

.ui-accordion {
  max-width: 700px;
  margin: 0 auto; }
  .ui-accordion .ui-accordion-header {
    color: #002A5C;
    border: none;
    margin-top: 1em;
    border: 0;
    background: none;
    border-bottom: 1px solid #C2CAD7;
    text-transform: uppercase;
    border-radius: 0; }
    .ui-accordion .ui-accordion-header a {
      color: #002A5C; }
  .ui-accordion .ui-accordion-content {
    background: url(images/texture.png);
    padding: 0;
    border: none; }

.view-id-research_stories.view-display-id-block_1, .view-id-news_stories.view-display-id-block_1, .view-id-research_stories.view-display-id-block_1 {
  overflow: hidden;
  background: #008bb0; }
  .view-id-research_stories.view-display-id-block_1 .views-row, .view-id-news_stories.view-display-id-block_1 .views-row, .view-id-research_stories.view-display-id-block_1 .views-row {
    float: left;
    width: 33.33333%;
    line-height: 1.3;
    padding: 1em 1em 0.6em;
    border-right: 1px solid white; }
    .view-id-research_stories.view-display-id-block_1 .views-row a, .view-id-news_stories.view-display-id-block_1 .views-row a, .view-id-research_stories.view-display-id-block_1 .views-row a {
      color: white; }
    .view-id-research_stories.view-display-id-block_1 .views-row:last-of-type, .view-id-news_stories.view-display-id-block_1 .views-row:last-of-type, .view-id-research_stories.view-display-id-block_1 .views-row:last-of-type {
      border: none; }
  .view-id-research_stories.view-display-id-block_1 img, .view-id-news_stories.view-display-id-block_1 img, .view-id-research_stories.view-display-id-block_1 img {
    margin: 0 0.9em 0.15em 0;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3); }
  .view-id-research_stories.view-display-id-block_1 .views-field-title, .view-id-news_stories.view-display-id-block_1 .views-field-title, .view-id-research_stories.view-display-id-block_1 .views-field-title {
    font-size: 125%;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25em;
    text-transform: uppercase; }
  .view-id-research_stories.view-display-id-block_1 .views-field-field-teaser, .view-id-news_stories.view-display-id-block_1 .views-field-field-teaser, .view-id-research_stories.view-display-id-block_1 .views-field-field-teaser {
    text-align: justify;
    color: white;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.25); }
  @media all and (max-width: 1360px) {
    .view-id-research_stories.view-display-id-block_1 img, .view-id-news_stories.view-display-id-block_1 img, .view-id-research_stories.view-display-id-block_1 img {
      width: 100%;
      margin-bottom: 0.3em; } }
  @media all and (max-width: 650px) {
    .view-id-research_stories.view-display-id-block_1 .views-row, .view-id-news_stories.view-display-id-block_1 .views-row, .view-id-research_stories.view-display-id-block_1 .views-row {
      width: 100%;
      border-bottom: 1px solid white;
      border-left: none; } }

.view-id-research_stories {
  box-shadow: 0px -2px 18px 0px #bbb;
  background-color: white;
  background-image: url(images/texture.png); }
  .view-id-research_stories .more-link a {
    color: #002A5C; }

.view-id-research_stories.view-display-id-page_1, .view-id-news_stories.view-display-id-page_1 {
  overflow: auto; }
  .view-id-research_stories.view-display-id-page_1 img, .view-id-news_stories.view-display-id-page_1 img {
    margin-bottom: 0.5em; }
  .view-id-research_stories.view-display-id-page_1 .views-row, .view-id-news_stories.view-display-id-page_1 .views-row {
    overflow: hidden;
    border-bottom: 1px solid #002A5C;
    padding: 1.5em 0;
    max-width: 700px;
    margin: 0 auto; }
  .view-id-research_stories.view-display-id-page_1 .view-footer, .view-id-news_stories.view-display-id-page_1 .view-footer {
    margin-top: 3em; }
  .view-id-research_stories.view-display-id-page_1 .views-field-title, .view-id-news_stories.view-display-id-page_1 .views-field-title {
    font-size: 160%; }
    .view-id-research_stories.view-display-id-page_1 .views-field-title a, .view-id-news_stories.view-display-id-page_1 .views-field-title a {
      color: #002A5C; }
  .view-id-research_stories.view-display-id-page_1 .views-field-field-teaser, .view-id-news_stories.view-display-id-page_1 .views-field-field-teaser {
    font-family: Times New Roman, Times, serif;
    line-height: 1.3;
    text-align: justify;
    margin: 0.6em 0 0.66em; }
  .view-id-research_stories.view-display-id-page_1 .views-field-created, .view-id-news_stories.view-display-id-page_1 .views-field-created {
    font-family: Times New Roman, Times, serif;
    font-size: 85%; }
  .view-id-research_stories.view-display-id-page_1 .views-field-view-node, .view-id-news_stories.view-display-id-page_1 .views-field-view-node {
    font-size: 85%;
    float: right;
    text-transform: uppercase; }
    .view-id-research_stories.view-display-id-page_1 .views-field-view-node a, .view-id-news_stories.view-display-id-page_1 .views-field-view-node a {
      color: #002A5C; }
  @media all and (max-width: 750px) {
    .view-id-research_stories.view-display-id-page_1 .views-row, .view-id-news_stories.view-display-id-page_1 .views-row {
      padding: 1.25em; } }
  .view-id-research_stories.view-display-id-page_1 .views-row:last-of-type, .view-id-news_stories.view-display-id-page_1 .views-row:last-of-type {
    border: none; }

#block-views-block-research-stories-block-1 {
  margin: 2em 0 0; }

.node--type-practice-opportunity {
  padding: 1em 2em; }
  .node--type-practice-opportunity .field__item {
    font-family: Times New Roman, Times, serif; }
  .node--type-practice-opportunity .field {
    margin: 1em 0; }
  .node--type-practice-opportunity .field__label {
    font-weight: normal; }

.node--type-faculty {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 1.5em;
  line-height: 1.3; }
  .node--type-faculty p {
    margin: 0.75em 0; }
  .node--type-faculty .field--name-field-first-name, .node--type-faculty .field--name-field-last-name, .node--type-faculty .field--name-field-degrees {
    display: inline; }
  .node--type-faculty .field--name-field-last-name::after {
    content: ", "; }
  .node--type-faculty .field__label {
    font-size: 80%;
    margin-top: 0.25em; }
  .node--type-faculty .name {
    font-size: 1.9em;
    line-height: 1.2;
    padding: 0.4em 0.3em 0.25em;
    background: #008bb0;
    color: white;
    font-family: TradeGothic, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em; }
  .node--type-faculty .field--type-string, .node--type-faculty .field {
    padding: 0.66em 0; }
  .node--type-faculty .field--name-field-address-1 {
    clear: both; }
  .node--type-faculty .field--type-text-long.field--label-inline {
    margin-bottom: 0.5em; }
    .node--type-faculty .field--type-text-long.field--label-inline .field__label {
      margin-top: 0.15em; }
  .node--type-faculty .field--label-above .field__label {
    margin-bottom: -0.75em; }
    .node--type-faculty .field--label-above .field__label::after {
      content: ":"; }
  .node--type-faculty .field--label-above .field__item {
    padding: 0.4em 0 0 0; }
  .node--type-faculty ul {
    padding-left: 1.15em; }
    .node--type-faculty ul p {
      padding: 0; }
  .node--type-faculty a {
    color: #036d8b; }
  .node--type-faculty .bottom-link {
    margin-top: 2em; }
    .node--type-faculty .bottom-link a {
      color: #002A5C; }
    .node--type-faculty .bottom-link a:hover {
      color: white; }
  .node--type-faculty img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: -5px 8px 10px -4px rgba(0, 0, 0, 0.66);
    float: left; }
  .node--type-faculty .top {
    overflow: hidden; }
  .node--type-faculty .field--name-field-main-appointments {
    margin: 0 0 1em !important; }
  .node--type-faculty .field--name-field-profile-picture {
    float: left;
    padding: 0 0.5em 0.75em;
    margin: 0; }
  .node--type-faculty .right-side {
    float: left;
    margin: 1em 0 1em 1em;
    border-left: 2px solid #002A5C;
    padding-left: 1.25em;
    max-width: 466px; }
    .node--type-faculty .right-side .field--type-string, .node--type-faculty .right-side .field {
      padding: 0; }
  @media all and (max-width: 701px) {
    .node--type-faculty {
      padding: 0 1em; }
      .node--type-faculty .field--name-field-profile-picture {
        margin: 0 auto !important;
        float: none;
        width: 210px; }
      .node--type-faculty .right-side {
        margin: 1em 0;
        padding-top: 1em;
        border: none; } }

.node--type-staff {
  max-width: 700px;
  margin: 1em auto; }
  .node--type-staff .field--name-field-first-name {
    display: inline; }
    .node--type-staff .field--name-field-first-name::after {
      content: " "; }
  .node--type-staff .field--name-field-last-name {
    display: inline; }
  .node--type-staff .field__label {
    font-weight: normal; }

.view-faculty-directory .views-row {
  margin: 1em 0;
  overflow: hidden; }
.view-faculty-directory .views-label {
  display: inline;
  font-size: 80%;
  margin-top: 0.25em; }
.view-faculty-directory .field-content {
  display: inline; }
.view-faculty-directory img {
  width: 176px;
  height: 176px;
  border-radius: 88px;
  box-shadow: -8px 4px 16px -4px rgba(0, 0, 0, 0.4);
  margin: 0.3em 1em; }
.view-faculty-directory .views-field-field-profile-picture {
  float: left;
  border-right: 2px solid #002A5C;
  margin-right: 1em;
  margin-top: 0; }
.view-faculty-directory .views-field-field-main-appointments {
  margin: 1em 0; }

.view-staff-directory .views-field-field-last-name::after {
  content: ", "; }
.view-staff-directory .views-field-field-last-name, .view-staff-directory .views-field-field-first-name {
  border-bottom: 2px solid #002A5C;
  margin-bottom: 0.15em;
  font-size: 120%;
  display: inline-block; }
.view-staff-directory .views-field-field-first-name {
  padding-left: 0.25em; }
.view-staff-directory .views-row {
  margin: 1em 0; }
.view-staff-directory .views-label {
  display: inline;
  font-size: 80%;
  margin-top: 0.25em; }
.view-staff-directory .field-content {
  display: inline; }
.view-staff-directory .views-field-field-main-appointments {
  margin: 1em 0; }

.view-faculty-directory, .view-staff-directory {
  overflow: hidden; }
  .view-faculty-directory h3, .view-staff-directory h3 {
    font-size: 125%;
    font-weight: bold;
    border-bottom: 2px solid #002A5C;
    margin: 1em 0; }
  .view-faculty-directory h3:first-of-type, .view-staff-directory h3:first-of-type {
    margin-top: 1rem; }
  .view-faculty-directory .view-header, .view-staff-directory .view-header {
    float: left;
    width: 6em;
    margin-top: 1em;
    font-size: 110%; }
  .view-faculty-directory .views-summary, .view-staff-directory .views-summary {
    display: block;
    margin-bottom: 0.5em; }
  .view-faculty-directory .view-content, .view-staff-directory .view-content {
    float: left;
    width: 80%; }

.view-faculty-directory, .view-staff-directory {
  max-width: 700px;
  line-height: 1.4;
  margin: 0 auto; }
  .view-faculty-directory a, .view-staff-directory a {
    color: #036d8b;
    font-weight: bold; }
  @media all and (max-width: 701px) {
    .view-faculty-directory, .view-staff-directory {
      padding: 0 1em; }
      .view-faculty-directory .view-header, .view-staff-directory .view-header {
        float: none; }
      .view-faculty-directory .view-content, .view-staff-directory .view-content {
        float: none;
        width: 100%; }
      .view-faculty-directory .views-summary, .view-staff-directory .views-summary {
        display: inline-block;
        margin-right: 0.5em; } }

/*# sourceMappingURL=style.css.map */
